@page
@model Radio.Pages.DataGridModel
@{
}

<!DOCTYPE html >
<html>
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
        <asp:DataGrid name="DataGrid1" runat="server">
        </asp:DataGrid>
    </form>
</body>
</html>  